<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   
   	<!-- log 파일 저장경로  -->
	<if condition='p("spring.profiles.active").equals("production")'>
	    <then>
	    	<property name="LOG_HOME" value="C:/logs/bookmark/production" />
		</then>
		<else>
		    <property name="LOG_HOME" value="C:/logs/bookmark/dev" />
        </else>
	</if>
	    
	<property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger[%method:%line] - %msg%n" />
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/bookmark-web-app.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/bookmark-web-app.log.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<!-- <maxHistory>30</maxHistory> -->
		</rollingPolicy>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				${LOG_PATTERN}
			</pattern>
		</encoder>
	</appender>
	
	<logger name="org.springframework" level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>

	<!-- turn OFF all logging (children can override) -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
	
</configuration>